@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./assets/fonts/Inter-Medium.woff2') format('woff2');
  }
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./assets/fonts/Inter-Bold.woff2') format('woff2');
  }


  @font-face {
  font-family: 'Fontin Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Fontin Regular'), url('./assets/fonts/Fontin-Regular.woff') format('woff');
  }


  @font-face {
  font-family: 'Fontin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Fontin Italic'), url('./assets/fonts/Fontin-Italic.woff') format('woff');
  }


  @font-face {
  font-family: 'Fontin Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Fontin Bold'), url('./assets/fonts/Fontin-Bold.woff') format('woff');
  }


  @font-face {
  font-family: 'Fontin SmallCaps Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Fontin SmallCaps Regular'), url('./assets/fonts/Fontin-SmallCaps.woff') format('woff');
  }
}

body {
  background-color: #080c11;
  font-family: 'Fontin Regular';
}

#tree-container canvas{
  font-family: 'Fontin Regular';
}

.league {
  background-image: url('./assets/icons/atlases/atlas-mastery-active-3.png');
  background-size: 12rem;
  background-position: 0 0;
  width: 2rem;
  height: 2rem;
}

.league--abyss {
  background-position: 0 0;
}

.league--incursion {
  background-position: -2rem 0;
}

.league--anarchy {
  background-position: -4rem 0;
}

.league--bestiary {
  background-position: -6rem 0;
}

.league--beyond {
  background-position: -8rem 0;
}

.league--blight {
  background-position: -10rem 0;
}

.league--map-bosses {
  background-position: 0 -2rem;
}

.league--breach {
  background-position: -2rem -2rem;
}

.league--the-searing-exarch {
  background-position: -4rem -2rem;
}

.league--conqueror {
  background-position: -6rem -2rem;
}

.league--delirium {
  background-position: -8rem -2rem;
}

.league--delve {
  background-position: -10rem -2rem;
}

.league--domination {
  background-position: 0 -4rem;
}

.league--elder-shaper {
  background-position: -2rem -4rem;
}

.league--essence {
  background-position: -4rem -4rem;
}

.league--expedition {
  background-position: -6rem -4rem;
}

.league--harbinger {
  background-position: -8rem -4rem;
}

.league--harvest {
  background-position: -10rem -4rem;
}

.league--heist {
  background-position: 0 -6rem;
}

.league--betrayal {
  background-position: -2rem -6rem;
}

.league--kirac {
  background-position: -4rem -6rem;
}

.league--ascendancy {
  background-position: -6rem -6rem;
}

.league--legion {
  background-position: -8rem -6rem;
}

.league--maps {
  background-position: -10rem -6rem;
}

.league--metamorph {
  background-position: 0 -8rem;
}

.league--rare {
  background-position: -2rem -8rem;
}

.league--ritual {
  background-position: -4rem -8rem;
}

.league--scarabs {
  background-position: -6rem -8rem;
}

.league--sextants {
  background-position: -8rem -8rem;
}

.league--ambush {
  background-position: -10rem -8rem;
}

.league--synthesis {
  background-position: 0 -10rem;
}

.league--the-eater-of-worlds {
  background-position: -2rem -10rem;
}

.league--torment {
  background-position: -4rem -10rem;
}

.league--unique {
  background-position: -6rem -10rem;
}

.league--vaal {
  background-position: -8rem -10rem;
}

.league--misc {
  background-position: -10rem -10rem;
}
